 <header class="navbar navbar-fixed-top navbar-default">
<div class="container">
  <div>
       <%=link_to image_tag("recipe.png", width: '80', height: '80', alt: 'Site Logo',id:"logo" ) %>
</div>
 <!-- <%= link_to "MijnRecepten",root_path,class: "btn btn-lg btn-success",id:"logo" %>-->
    
    <div class="nav_item">
  <%= link_to "Recepten",recipes_path, class: "btn btn-default btn-warning", id:"nav_item" %>
    </div>
    
     <div class="nav_item">
  <%= link_to "link 1","", class: "btn btn-default btn-warning" , id:"nav_item"%>
    </div>
    
     <div class="nav_item">
  <%= link_to "Nieuw Recepten ",new_recipe_path, class: "btn btn-default btn-warning", id:"nav_item" %>
    </div>
    

    
   

</div>

      
    
</header>

